body header#bodyHeader {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}


body header#bodyHeader h1 {
    color: rgb(88, 202, 88);
    font-weight: bold;
}

body header div#submitButton {
    margin-bottom: 2rem;
}

#countryTextField {
    margin-right: .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body header#bodyHeader div#sectionRowButtons {
    text-align: center;
    font-family: 'Chela One', cursive;
    max-width: 1100px;
    height: 10rem;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.buttonCountry {
    border: solid 2px black;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

section#mainSection div#displayCtryData {
    height: 2em;
    max-width: 100%;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: .3em;
    margin-bottom: 1.5em;
    overflow: visible;
}

section#mainSection div#displayCtryData span {
    margin-right: 2em;
    max-width: 4em;
    flex-grow: 1;
}

section#mainSection div#displayGifs div.gifItem {
    margin-right: .4rem;
    margin-left: .4rem;
    max-width: 200px;
    height: 250px;
    float: left;
}

section#mainSection div#displayGifs  div.gifItem:nth-child(odd) {
    border-top: solid 1px black;
}

section#mainSection div#displayGifs  div.gifItem:nth-child(even) {
    border-top: dashed 1px black;
}

section#mainSection div#displayGifs div.gifItem p {
    max-width: 200px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

section#mainSection div#displayGifs div.gifItem img {
    max-width: 200px;
}

section#mainSection div#displayGifs div.gifItem img:hover {
    opacity: .5;
}

@media only screen and (min-width: 1280px) {
    body header#bodyHeader {
        background-image: url(../images/globe.png);
        max-width: 1280px;
        height: 300px;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 1279px) {
    body header#bodyHeader {
        background: radial-gradient(blue, white, white);
        height: 300px;
        margin-bottom: 2rem;
    }

    body header#bodyHeader h1 {
        color: maroon;
    }
}